@model IEnumerable<Members.Models.ImageViewModel>
@using Members.Models

@{
    ViewData["Title"] = $"Manage Images for: {ViewBag.GalleryName}";
    var currentGalleryName = ViewBag.GalleryName as string; // Get the gallery name once
}

<div class="row justify-content-center m-0 p-0">
    <div class="col-lg-8 col-md-10 p-1">

        <!-- Heading: Manage Images fir 'Gallery' -->
        <h1 class="text-black mb-2 mt-4 text-center">Manage Images for:<br />@ViewBag.GalleryName</h1>

        <!-- Back to Manage Galleries Button -->
        <div class="mb-3 text-center">
            <a asp-controller="Image" asp-action="ManageGalleries" class="btn btn-sm btn-back rounded-2 shadow"><i class="bi bi-box-arrow-left"></i> Back to Manage Galleries</a>
        </div>

        <!-- Status Success Message (Auto-Clear) -->
        @if (TempData["SuccessMessage"] != null)
        {            
            <div class="alert alert-success fade show auto-hide-alert" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <!-- Status Error Message (Auto-Clear) -->
        @if (TempData["ErrorMessage"] != null)
        {            
            <div class="alert alert-danger fade show auto-hide-alert" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
       
        <!-- Shadow Card (Upload a New Image) -->
        <div class="card rounded p-1 shadow">
            
            <!-- Heading: Upload a New Image -->
            <h2 class="text-black mb-2 mt-4 ps-2"><i class="bi bi-cloud-arrow-up"></i> Upload a New Image</h2>

            <!-- Upload a New Image Form -->
            <form asp-controller="Image" asp-action="UploadImage" method="post" enctype="multipart/form-data">
                <input type="hidden" name="galleryName" value="@currentGalleryName" />

                <div class="input-group">
                    
                    <!-- Multiple File Input -->
                    <input type="file" name="ImageFiles" class="form-control" accept="image/*" required multiple>

                        <!-- Upload Button -->
                    <button type="submit" class="btn btn-success rounded-2 no-left-radius">
                            <i class="bi bi-cloud-arrow-up"></i>
                        </button>

                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>

        <!-- Shadow Card (Existing Images) -->
        <div class="card mt-4 mb-3 rounded p-1 shadow">

            @if (Model != null && Model.Any())
                {

                <!-- Heading: Existing Images -->
                <h2 class="text-black mb-2 mt-4 ps-2">
                    <i class="bi bi-images"></i> Existing Images
                </h2>

                <!-- Setup Row and loop through Images creating Columns -->
                <div class="row justify-content-center m-0 p-0">
                    @foreach (var image in Model)
                    {
                        <div class="col-md-6 col-lg-3 col-xl-2 mb-2 p-0">

                            <!-- Shadow Card for each Image -->
                            <div class="card h-100 rounded p-2 shadow">

                                <!-- Image Thumbnail with Link to View Image -->
                                <a asp-controller="Image" asp-action="ImageView" asp-route-galleryName="@image.GalleryName" asp-route-fileName="@image.FileName">
                                    <img src="@image.ThumbnailUrl" class="card-img-top img-fluid" alt="@image.FileName" style="width: 100%; height: 100%; object-fit: cover;">
                                </a>

                                <!-- Image Name and Action Buttons -->
                                <div class="card-body rounded-2 p-0 text-center">

                                    <!-- Image Name -->
                                    <p class="card-text mt-1 mb-0">@System.IO.Path.GetFileNameWithoutExtension(image.FileName)</p>
                                    
                                    <!-- Image Actions -->
                                    <div class="btn-group mt-0" role="group" aria-label="Image Actions">
                                        
                                        <!-- Sanitize the FileName -->
                                        @{
                                            var sanitizedImageFileNameForId = image.FileName.Replace(" ", "_").Replace(".", "_");
                                        }

                                        <!-- Rename -->
                                        <button type="button" 
                                            class="btn btn-sm btn-rename me-5 rounded px-2 py-2" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#renameImageModal_@sanitizedImageFileNameForId">
                                            <i class="bi bi-pencil-square px-0"></i>
                                        </button>                                                
                                            
                                        <!-- Delete Dialog -->
                                        <form asp-controller="Image" asp-action="DeleteImage" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete \'@image.FileName\'?');">
                                            <input type="hidden" name="galleryName" value="@image.GalleryName" />
                                            <input type="hidden" name="fileName" value="@image.FileName" />
                                                
                                            <!-- Delete Button -->
                                            <button type="submit" class="btn btn-delete delete-button ms-5 rounded px-2 py-2"><i class="bi bi-trash-fill"></i></button>                      

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <!-- Modal Rename Image Form -->
                        <div class="modal fade" id="renameImageModal_@sanitizedImageFileNameForId" tabindex="-1" aria-labelledby="renameImageModalLabel_@sanitizedImageFileNameForId" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Rename Image Form-->
                                    <form asp-controller="Image" asp-action="RenameImage" method="post"> 
                                        
                                        <!-- Modal Body -->
                                        <div class="modal-body">

                                            <!-- Gallery Name and Old file Name -->
                                            <input type="hidden" name="galleryName" value="@image.GalleryName" />
                                            <input type="hidden" name="oldFileName" value="@image.FileName" />

                                            <!-- New File Name -->
                                            <div class="mb-2">
                                                <label for="newFileName_@sanitizedImageFileNameForId" class="form-label fw-bold">New File Name:</label>
                                                <input type="text" class="form-control" id="newFileName_@sanitizedImageFileNameForId" name="newFileName" value="@image.FileName" required>
                                            </div>

                                            <!-- Buttons -->
                                            <div class="modal-footer p-0">

                                                <!-- Cancel button -->
                                                <button type="button" class="btn btn-sm btn-secondary rounded-2 me-2 shadow" data-bs-dismiss="modal" aria-label="Cancel">
                                                    <i class="bi bi-box-arrow-left"></i> Cancel
                                                </button>

                                                <!-- Save Changes Button -->
                                                <button type="submit" class="btn btn-sm btn-success rounded-2 shadow">
                                                    <i class="bi bi-pencil-square px-0"></i> Save Changes
                                                </button>

                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                            
                    }
                </div>                    
                }
                else
                {   
                    <!-- No Images Message -->
                    <div class="text-black py-4 text-center">This gallery is empty. Upload images above!</div>
                }    
            
        </div>
    </div>
</div>

@section Styles {
    <style>
        /* Styles to remove borders */
        .card-body .list-group-item {
            border-bottom: none !important;
        }
        .card-body .list-group-item:first-child {
            border-top: none !important;
        }
        .card-body .list-group-item:last-child {
            border-bottom: none !important;
        }
        /* Add CSS to control the link color on hover/focus */
        .text-decoration-none:hover, .text-decoration-none:focus {
            text-decoration: none;
            font-weight: 600;
        }
        .card-img-top {
            cursor: pointer;
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        .card-img-top:hover {
            transform: scale(1.02);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
        /* Remove the top border of the modal footer to get rid of the line above the buttons */
        .modal-footer {
            border-top: none;
        }        
               
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Select all alerts that we want to auto-hide
            var alertsToAutoHide = document.querySelectorAll('.auto-hide-alert');

            alertsToAutoHide.forEach(function(alertElement) {
                setTimeout(function() {
                    alertElement.classList.remove('show');
                    alertElement.addEventListener('transitionend', function() {
                        alertElement.remove();
                    }, { once: true });
                }, 2500); // 2500 milliseconds = 2.5 seconds: Time before the alert starts to fade out.
            });
        });
    </script>
}