@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "External Login";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card m-4 rounded p-4 shadow">
                @* <div class="card-body rounded-2"> *@
                    <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
                    <h2 id="external-login-title" class="mb-4 text-center">Associate your @Model.ProviderDisplayName account.</h2>
                    
                    <p id="external-login-description" class="text-info text-center">
                        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                        Please enter an email address for this site below and click the Register button to finish
                        logging in.
                    </p>

                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3 text-center" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>                        
                        
                        <div class="d-flex justify-content-between">

                            <!-- Cancel Button -->
                            <a href="~/" class="btn btn-sm btn-secondary me-2">
                                <i class="bi bi-box-arrow-left rounded-2 shadow"></i> Cancel
                            </a>

                            <!-- Register -->
                            <button type="submit" class="btn btn-sm btn-primary rounded-2 me-2 shadow">
                                <i class="bi bi-check-lg"></i> Register
                            </button>                            

                        </div>                        
                        
                    </form>
                @* </div> *@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
