@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card m-4 rounded p-4 shadow">
                
                    <h1 class="text-black mb-4 text-center">
                        <i class="bi bi-shield-lock-fill"></i> @ViewData["Title"]
                    </h1>
                    <p class="text-black text-center">Your login is protected with an authenticator app. Enter your authenticator code below.</p>
                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                        <input asp-for="RememberMe" type="hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3 text-center" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                            <label asp-for="Input.TwoFactorCode" class="form-label">Authenticator Code</label>
                            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMachine" class="form-label">
                                <input asp-for="Input.RememberMachine" />
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>

                        <!-- Buttons -->
                        <div class="d-flex justify-content-between">

                            <!-- Cancel -->
                            <a href="~/" class="btn btn-sm btn-secondary rounded-2 me-2 shadow">
                                <i class="bi bi-box-arrow-left"></i> Cancel
                            </a>

                            <!-- Log In -->
                        <button type="submit" class="btn btn-sm btn-success rounded-2 me-2 shadow">
                                <i class="bi bi-save"></i> Log in
                            </button>                            

                        </div>

                    </form>
                    <p class="text-black mt-3 text-center">
                        Don't have access to your authenticator device?<br />
                        You can <a class="text-green text-decoration-none fw-bold" id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in</a> with a recovery code.
                    </p>
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}